/*log*/

.sticky-top {
    background-color: red;
}

#name {
    text-decoration: none;
}


/* log end */


/*dash*/

#section1_DASH {
    background-color: rosybrown;
}

#section2_DASH {
    background-color: seashell;
}


/*dash end*/